<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
	<title>Miss Piggy — Crypto Bot</title>
	<meta name="msapplication-TileColor" content="#fa7070">
	<meta name="theme-color" content="#fa7070">
	<!-- Dependency Styles -->
	<link rel="stylesheet" href="static/assets/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css">
	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="static/assets/css/app.css" type="text/css">
</head>

<body id="home-version-1" class="home-version-4" data-style="default">
	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>
	<div id="main_content">
		<!--=========================-->
		<!--=        Navigation     =-->
		<!--=========================-->
		<header class="site-header header_trans-fixed" data-top="992">
			<div class="container">
				<div class="header-inner">
					<nav class="site-nav">
						<div class="site-logo">
							<a href="/index" class="logo">
								<img src="static/assets/img/misspiggy_logo.png" alt="site logo" class="main-logo">
								<img src="static/assets/img/misspiggy_logo.png" alt="site logo" class="sticky-logo">
							</a>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!--==========================-->
		<!--=         Banner         =-->
		<!--==========================-->
		<section class="banner banner-one">
			<div class="container">
				<div class="banner-content-wrap">
					<div class="row align-items-center">
						<div class="col-lg-7">
							<div class="banner-content">
								<h1 class="banner-title wow pixFadeUp" data-wow-delay="0.3s" style="color: #3b4146;">
									<span>Miss Piggy</span><br>
									Making you rich (or poor)<br>while you sleep
								</h1>
								<a href="/dashboard" class="pxs-btn banner-btn wow pixFadeUp" data-wow-delay="0.6s">Go to Dashboard</a>
							</div>
						</div>

						<div class="col-lg-5">
							<img src="static/assets/img/logo.jpg" alt="mpckup">
						</div>
					</div>
				</div>
			</div>
			<div class="bg-shape">
				<img src="static/assets/img/bitcoin.png" style="width: auto">
			</div>
		</section>
		<!--=========================-->
		<!--=        Footer         =-->
		<!--=========================-->
		<footer id="footer">
			<div class="container">
				<div class="site-info">
					<div class="copyright">
						<p>© 202x All Rights Reserved by <a href="https://arch.cloud" target="_blank">arch.cloud</a>
						</p>
					</div>
					</ul>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>